__pycache__/
*.py[cod]
*.egg-info/
.eggs/
build/
dist/
.pytest_cache/
.coverage
htmlcov/
.ipynb_checkpoints/
.Rhistory
.RData
.Rproj.user/
analysis/community-variability/results/
analysis/community-variability/ifcb_single_season_output/
analysis/community-variability/results/tracking/
data/
